.footer {
    width: 100%;
    height: var(--footer-height);
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-image: linear-gradient(-45deg, #efefff 0%, #fff 100%);
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBrandingImage {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.version {
    font-size: 12px;
}

.social {
    display: flex;
}

.social > a {
    margin: 5px 10px;
}