:root {
    /* fonts */
    --font-size-default: 1rem;
    
    /* Dimensions */
    --header-height: 70px;
    --footer-height: 40px;

    /* Colors */
    --font-dim-color: #606060;
    --font-color: #101010;
    --primary-color: #9107ed;
}